.dark-medium-contrast {
  --md-sys-color-primary: rgb(216 217 255);
  --md-sys-color-surface-tint: rgb(189 194 255);
  --md-sys-color-on-primary: rgb(12 21 116);
  --md-sys-color-primary-container: rgb(128 137 230);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 215 134);
  --md-sys-color-on-secondary: rgb(50 35 0);
  --md-sys-color-secondary-container: rgb(212 160 23);
  --md-sys-color-on-secondary-container: rgb(40 27 0);
  --md-sys-color-tertiary: rgb(217 217 255);
  --md-sys-color-on-tertiary: rgb(25 30 91);
  --md-sys-color-tertiary-container: rgb(134 139 207);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(19 19 25);
  --md-sys-color-on-background: rgb(228 225 234);
  --md-sys-color-surface: rgb(19 19 25);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(69 70 82);
  --md-sys-color-on-surface-variant: rgb(220 219 234);
  --md-sys-color-outline: rgb(177 176 191);
  --md-sys-color-outline-variant: rgb(144 143 157);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 225 234);
  --md-sys-color-inverse-on-surface: rgb(41 41 48);
  --md-sys-color-inverse-primary: rgb(53 62 151);
  --md-sys-color-primary-fixed: rgb(224 224 255);
  --md-sys-color-on-primary-fixed: rgb(0 3 74);
  --md-sys-color-primary-fixed-dim: rgb(189 194 255);
  --md-sys-color-on-primary-fixed-variant: rgb(34 42 132);
  --md-sys-color-secondary-fixed: rgb(255 223 160);
  --md-sys-color-on-secondary-fixed: rgb(25 16 0);
  --md-sys-color-secondary-fixed-dim: rgb(246 190 57);
  --md-sys-color-on-secondary-fixed-variant: rgb(71 51 0);
  --md-sys-color-tertiary-fixed: rgb(224 224 255);
  --md-sys-color-on-tertiary-fixed: rgb(2 4 72);
  --md-sys-color-tertiary-fixed-dim: rgb(190 194 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(43 48 109);
  --md-sys-color-surface-dim: rgb(19 19 25);
  --md-sys-color-surface-bright: rgb(68 68 74);
  --md-sys-color-surface-container-lowest: rgb(7 7 12);
  --md-sys-color-surface-container-low: rgb(29 29 35);
  --md-sys-color-surface-container: rgb(39 39 45);
  --md-sys-color-surface-container-high: rgb(50 50 56);
  --md-sys-color-surface-container-highest: rgb(61 61 68);
}
