.dark {
  --md-sys-color-primary: rgb(189 194 255);
  --md-sys-color-surface-tint: rgb(189 194 255);
  --md-sys-color-on-primary: rgb(27 36 127);
  --md-sys-color-primary-container: rgb(26 35 126);
  --md-sys-color-on-primary-container: rgb(134 144 238);
  --md-sys-color-secondary: rgb(246 190 57);
  --md-sys-color-on-secondary: rgb(64 45 0);
  --md-sys-color-secondary-container: rgb(212 160 23);
  --md-sys-color-on-secondary-container: rgb(80 58 0);
  --md-sys-color-tertiary: rgb(190 194 255);
  --md-sys-color-on-tertiary: rgb(37 42 103);
  --md-sys-color-tertiary-container: rgb(90 95 159);
  --md-sys-color-on-tertiary-container: rgb(224 224 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(19 19 25);
  --md-sys-color-on-background: rgb(228 225 234);
  --md-sys-color-surface: rgb(19 19 25);
  --md-sys-color-on-surface: rgb(228 225 234);
  --md-sys-color-surface-variant: rgb(69 70 82);
  --md-sys-color-on-surface-variant: rgb(198 197 212);
  --md-sys-color-outline: rgb(144 143 157);
  --md-sys-color-outline-variant: rgb(69 70 82);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 225 234);
  --md-sys-color-inverse-on-surface: rgb(48 48 54);
  --md-sys-color-inverse-primary: rgb(76 86 175);
  --md-sys-color-primary-fixed: rgb(224 224 255);
  --md-sys-color-on-primary-fixed: rgb(0 7 103);
  --md-sys-color-primary-fixed-dim: rgb(189 194 255);
  --md-sys-color-on-primary-fixed-variant: rgb(52 61 150);
  --md-sys-color-secondary-fixed: rgb(255 223 160);
  --md-sys-color-on-secondary-fixed: rgb(38 26 0);
  --md-sys-color-secondary-fixed-dim: rgb(246 190 57);
  --md-sys-color-on-secondary-fixed-variant: rgb(92 67 0);
  --md-sys-color-tertiary-fixed: rgb(224 224 255);
  --md-sys-color-on-tertiary-fixed: rgb(14 18 81);
  --md-sys-color-tertiary-fixed-dim: rgb(190 194 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(60 65 127);
  --md-sys-color-surface-dim: rgb(19 19 25);
  --md-sys-color-surface-bright: rgb(57 57 63);
  --md-sys-color-surface-container-lowest: rgb(13 14 19);
  --md-sys-color-surface-container-low: rgb(27 27 33);
  --md-sys-color-surface-container: rgb(31 31 37);
  --md-sys-color-surface-container-high: rgb(41 41 48);
  --md-sys-color-surface-container-highest: rgb(52 52 59);
}
