.dark-high-contrast {
  --md-sys-color-primary: rgb(240 238 255);
  --md-sys-color-surface-tint: rgb(189 194 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(184 190 255);
  --md-sys-color-on-primary-container: rgb(0 2 57);
  --md-sys-color-secondary: rgb(255 238 210);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(241 186 53);
  --md-sys-color-on-secondary-container: rgb(17 10 0);
  --md-sys-color-tertiary: rgb(240 238 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(185 190 255);
  --md-sys-color-on-tertiary-container: rgb(0 1 60);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(19 19 25);
  --md-sys-color-on-background: rgb(228 225 234);
  --md-sys-color-surface: rgb(19 19 25);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(69 70 82);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(240 238 253);
  --md-sys-color-outline-variant: rgb(194 193 208);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 225 234);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(53 62 151);
  --md-sys-color-primary-fixed: rgb(224 224 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(189 194 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 3 74);
  --md-sys-color-secondary-fixed: rgb(255 223 160);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(246 190 57);
  --md-sys-color-on-secondary-fixed-variant: rgb(25 16 0);
  --md-sys-color-tertiary-fixed: rgb(224 224 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(190 194 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(2 4 72);
  --md-sys-color-surface-dim: rgb(19 19 25);
  --md-sys-color-surface-bright: rgb(80 79 86);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(31 31 37);
  --md-sys-color-surface-container: rgb(48 48 54);
  --md-sys-color-surface-container-high: rgb(59 59 65);
  --md-sys-color-surface-container-highest: rgb(70 70 77);
}
